.custom-file-input {
  width: 600px; /* Adjust the width as needed */
}
.column-width {
  width: 300px; /* Adjust the width as needed */
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
